<div class="back">
  <div class="search-container">
    <div class="search">
      <form (submit)="$event.preventDefault()">
        <mat-form-field appearance="fill" style="min-width: 250px;">
          <mat-label>Enter Hotel name</mat-label>
          <input matInput [(ngModel)]="hotelName" type="text" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button class="search-btn" mat-raised-button color="primary" (click)="searchContract()">Search</button>
        <button class="search-btn" mat-raised-button color="primary" routerLink="/addcontract">Add contract</button>
      </form>
    </div>
    <mat-spinner *ngIf="loading" style="margin: auto;"></mat-spinner>
    <div>

    </div>
    <div class="results">

      <mat-card class="example-card" *ngFor="let contract of contracts">
        <mat-card-header>
          <mat-card-title>{{contract.hotel.name}}</mat-card-title>
          <mat-card-subtitle>{{contract.hotel.location}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="3:1">
            <mat-grid-tile>
              <p>Start date: </p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p>{{contract.startDate}}</p>
            </mat-grid-tile>

            <mat-grid-tile>
              <p>End date: </p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p>{{contract.endDate}}</p>
            </mat-grid-tile>

            <mat-grid-tile>
              <p>Phone: </p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p>{{contract.hotel.contactNumber}}</p>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
        <mat-card-actions>
          <p style="margin: auto; color: rgb(188, 0, 0); cursor: pointer;" (click)="deleteContract(contract.id)">Delete
          </p>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>