<div class="search-container">
  <form class="form">
    <div style="display: flex;">
      <h2>Search for rooms</h2><fa-icon [icon]="faSearch" class="search-icon fa-bounce"></fa-icon>
    </div>
    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>
        <mat-form-field class="date" appearance="fill">
          <mat-label>Check-in date</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="checkin_date" [ngModelOptions]="{standalone: true}">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="nights">
          <mat-label>No. of nights</mat-label>
          <input matInput type="number" value="1" min="1" max="7" [(ngModel)]="noNights" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="adults" style="margin: 5px; max-width: 90px;">
          <mat-label>Adults</mat-label>
          <input matInput type="number" value="1" min="1" max="1000" [(ngModel)]="noAdults" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="rooms" >
          <mat-label>Rooms</mat-label>
          <input matInput type="number" value="1" min="1" max="1000" [(ngModel)]="noRooms" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" class="addroom-btn" (click)="addRoomDetails()">Add room details</button>
      </mat-grid-tile>
    </mat-grid-list>
    <button mat-raised-button color="primary" class="search-btn" (click)="searchRooms()">Search</button>

  </form>

  <form class="roomDetails" style="display: flex;flex-direction: column;">
    <h2 style="margin: auto;">Room details</h2>
    <div style="display: flex;flex-direction: column; overflow: auto; height: 300px;padding: 10px;margin: 20px;">
      <mat-card class="example-card" *ngFor="let item of adultList; let i=index">    
        <mat-card-content>
          <mat-grid-list cols="3" rowHeight="3:1">
            <mat-grid-tile>
              <p>{{item.rooms}} rooms </p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p>{{item.adults}} adults</p>
            </mat-grid-tile>
            <mat-grid-tile>
              <button mat-raised-button (click)="deleteAdult(i)"><mat-icon style="color: red;">delete</mat-icon></button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </div>

  </form>
</div>
<mat-spinner *ngIf="loading" style="margin: auto;"></mat-spinner>

<div class="results">
  <mat-card class="example-card" *ngFor="let room of rooms">
    <mat-card-header>
      <mat-card-title>{{room.contract.hotel.name}}</mat-card-title>
      <mat-card-subtitle>{{room.contract.hotel.location}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="margin-top: 10px;">
      <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile>
          <p>Room type: </p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{room.roomType}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <p>Max adults: </p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{room.maxAdults}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <p>Price: </p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{room.price | currency:'USD'}}</p>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
      <p style="margin: auto; color: rgb(106, 177, 0);" *ngIf="room.availableRooms >= noRooms">Available </p>
      <p style="margin: auto; color: rgb(238, 0, 0);" *ngIf="room.availableRooms < noRooms">Unavailable </p>
    </mat-card-actions>
  </mat-card>
</div>